html, body, main, div, image, h1, h2, p {
  margin: 0;
  padding: 0;
}

.grid-container{
  display:grid;
  grid-template-rows: 100px 1fr 1fr 1fr 30px;
  margin: 0;
  border: 2px dashed #DDD;
  padding: 0;
  grid-gap: .5rem;
}

.body{
  color: #e9e9e9;
  font-size: 2rem;
  width: 98vw;
  margin: auto;
  line-height: 1.3;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  padding: 2rem 0;

}

/* from class makes image responsive to shrinking and growing */
img{
  display: block;
  height: auto;
}

.grid-item{
  border-radius: 4px;
  padding: 0;
  text-align: center;
}

.two{
  background-color: red;
}

.six{
  display: grid;
}


}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
/*-- Main Menu Styles--*/
.main-nav {
  background: #171717;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
}

.brand h1 {
  padding-top: 1.2rem;
  padding-left: 1.2rem;
}
.nav-links {
  padding-top: 1.2rem;
}
.nav-links a {
  margin-left: 1.5rem;
  transition: all .3s ease-in-out;;
}
a:link {
  color: #e9e9e9;
  text-decoration: none;
}
a:visited {
  color: #e9e9e9;
}
a:hover {
  color: #18C4F7;
}
a:active, a.active {
  color: #18C4F7;
  text-decoration: underline;
}

.grid-container {
grid-template-areas:
   "nav nav nav"
   "proposition proposition proposition"
   "reason1 reason2 reason3"
   "wall wall wall"
   "foot foot foot";
}

.six{
  grid-template-areas:
    "pic1 desc1 desc1"
    "pic2 desc2 desc2"
    "pic3 desc3 desc3";
}

.one { grid-area: nav;}
.two { grid-area: proposition;}
.three { grid-area: reason1;}
.four { grid-area: reason2;}
.five { grid-area: reason3;}
.six { grid-area: wall;}
.seven { grid-area: pic1;}
.eight { grid-area: pic2;}
.nine { grid-area: pic3;}
.ten { grid-area: desc1;}
.eleven { grid-area: desc2;}
.twelve { grid-area: desc3;}
.thirteen {grid-area: foot;}
